.MarkALink__blocked {
    opacity: 0.15 !important;
}

.MarkALink__blocked:hover {
    opacity: 1 !important;
}

.MarkALink_aside .MarkALink__blocked {
    opacity: 1 !important;
}

.MarkALink_aside .MarkALink__marked {
    background: unset !important;
    border: none !important;
}

.MarkALink__marked {
    box-sizing: border-box !important;
}

.MarkALink_logo_wrap {
    position: absolute !important;
    transform-origin: left top !important;

    transform: scale(0.5) !important;
    top: 0 !important;
    left: 0 !important;
}

.MarkALink__tooltip {
    --bg-color: #131313;
    --bg-color-glitch: #080808;

    --logo-col: #FED128;
    --logo-shadow: #FA1C16;
    --logo-shadow-2: #806914;

    position: fixed !important;
    z-index: 1000000000000 !important;
    display: none !important;

    max-width: 250px !important;
    max-height: 200px !important;
    padding: 10px !important;
    margin: 10px !important;
    border-radius: 10px !important;

    box-sizing: border-box !important;
    overflow: hidden !important;

    color: #fff !important;
    font-family: Verdana !important;
    font-size: 16px !important;

    background-color: var(--bg-color) !important;
    border: 1px solid var(--logo-col) !important;
    box-shadow:
        0 0 5px var(--logo-shadow),
        0 0 10px var(--logo-shadow),
        0 0 20px var(--logo-shadow),
        0 0 20px var(--logo-shadow),
        0 0 4px var(--logo-col),
        inset 0 0 2px var(--logo-shadow),
        inset 0 0 5px var(--logo-shadow),
        inset 0 0 10px var(--logo-shadow),
        inset 0 0 10px var(--logo-shadow),
        inset 0 0 2px var(--logo-col);
}

.MarkALink__tooltip-hidden {
    display: none !important;
}

.MarkALink__tooltip-show {
    display: block !important;

    animation: popping .9s ease-out;
}

@keyframes popping {
    0%, 70% {
        transform: translateY(-10px) !important;
        opacity: 0 !important;
    }
    100% {
        transform: none !important;
        opacity: 1 !important;
    }
}

.MarkALink__tooltip_text-mark {
    display: block !important;
}

.MarkALink__tooltip_text-grp {
    margin-bottom: 10px !important;

    font-family: Godsownjunkyard !important;
    font-size: 22px !important;
    color: azure !important;
    --color1: azure;
    --color2: aqua;
    --color3: dodgerblue;
    --color4: blue;

    text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2), 0 0 40px var(--color3), 0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
}
