:root {
    --main-col: #0b66c2;
    --bg-col2: #f9fafb;
    --bg-col1: #fff;
    --cross-col: #ca2424;
    --sec-bg-col: #d2f4ff;
}

.NotaWay__blocked {
    opacity: 0 !important;
}

.NotaWay__blocked:hover {
    opacity: 1 !important;
}

.NotaWay__marked {
    /* outline: 2px dashed blue; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* border: 1px dashed red; */
    border-bottom: 2px dashed red;
}
