.MarkALink_aside {
    position: fixed !important;
    z-index: 1000000000000 !important;

    top: 100px !important;
    padding: 20px 0 20px 50px !important;
    right: 0 !important;
    max-height: 450px !important;
    transform: none !important;

    overflow-y: auto !important;
    overflow-x: hidden !important;
    transition: transform ease .6s .3s;
}

.MarkALink_aside-hidden {
    transform: translateX(calc(100% - 45px)) !important;
}

.MarkALink_aside__expand {
    position: absolute !important;
    display: none !important;

    top: 25px !important;
    left: 25px !important;
    width: 50px !important;
    height: 70px !important;
    border-radius: 50% !important;

    border: 1px solid var(--logo-col) !important;
    box-shadow:
        0 0 5px var(--logo-shadow),
        0 0 8px var(--logo-shadow),
        0 0 15px var(--logo-shadow),
        0 0 15px var(--bg-color),
        0 0 4px var(--logo-col),
        inset 0 0 2px var(--logo-shadow),
        inset 0 0 5px var(--logo-shadow),
        inset 0 0 10px var(--logo-shadow),
        inset 0 0 10px var(--bg-color),
        inset 0 0 2px var(--logo-col);

    cursor: pointer !important;
    transition: all ease .3s !important;

    animation: expandAppear 1.5s ease;
}

@keyframes expandAppear {
    0%, 70% {
        opacity: 0 !important;
    },
    100% {
        opacity: 1 !important;
    }
}

.MarkALink_aside__expand:hover {
    --logo-col: azure;
    --logo-shadow: aqua;
}

.MarkALink_aside-hidden .MarkALink_aside__expand {
    display: block !important;
}

.MarkALink_aside__item {
    width: 400px !important;
    max-height: 160px !important;
    padding: 10px !important;
    margin: 10px !important;
    border-radius: 10px !important;

    box-sizing: border-box !important;
    overflow: hidden !important;

    color: #fff !important;
    font-family: Verdana !important;
    font-size: 16px !important;

    background-color: var(--bg-color) !important;
    border: 1px solid var(--logo-col) !important;
    box-shadow:
        0 0 5px var(--logo-shadow),
        0 0 10px var(--logo-shadow),
        0 0 20px var(--logo-shadow),
        0 0 20px var(--logo-shadow),
        0 0 4px var(--logo-col),
        inset 0 0 2px var(--logo-shadow),
        inset 0 0 5px var(--logo-shadow),
        inset 0 0 10px var(--logo-shadow),
        inset 0 0 10px var(--logo-shadow),
        inset 0 0 2px var(--logo-col);

    transition: all ease .3s .5s, transform ease .5s;
}

.MarkALink_aside__item-del {
    max-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    box-shadow: none !important;
    border: none !important;

    transform: scale(.01, .01) !important;
}

.MarkALink_aside__item-min {
    max-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    box-shadow: none !important;
    border: none !important;

    transform: translateX(110%) !important;
}

.MarkALink_aside__list {
    padding: 0 !important;
    margin: 0 !important;

    list-style: none !important;
}

.MarkALink_aside__mark {
    display: block !important;

    margin: 0 !important;
    margin-bottom: 10px !important;
    max-height: 76px !important;

    color: #fff !important;
    text-decoration: none !important;

    overflow: auto !important;
    cursor: pointer;
    transition: all ease .3s;
}

.MarkALink_aside__link {
    display: block !important;

    width: 100% !important;
    margin-bottom: 10px !important;

    color: #fff !important;
    font-size: 14px !important;
    word-wrap: break-word !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;

    transition: all ease .3s;
}

.MarkALink_aside__link:hover,
.MarkALink_aside__mark:hover {
    color: azure !important;
    --color1: azure;
    --color2: aqua;
    --color3: dodgerblue;
    --color4: blue;

    text-shadow: 0 0 2px var(--color1), 0 0 5px var(--color2), 0 0 10px var(--color3), 0 0 10px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
}

.MarkALink_aside__btn {
    display: inline-block !important;

    padding-right: 10px !important;

    font-family: Godsownjunkyard !important;
    font-size: 20px !important;
    color: azure !important;
    --color1: azure;
    --color2: aqua;
    --color3: dodgerblue;
    --color4: blue;

    text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2), 0 0 40px var(--color3), 0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
    transition: all ease .3s;
}

.MarkALink_aside__btn:hover {
    --active-col: #44fb3a;
    color: var(--active-col) !important;
    --color1: var(--active-col);
    --color2: var(--active-col);
    --color3: green;
    --color4: var(--active-col);
}

.MarkALink_aside__btn-hide:hover {
    color: lightyellow !important;
    --color1: yellow;
    --color2: gold;
    --color3: orange;
    --color4: darkred;
}

.MarkALink_aside::selection,
.MarkALink_aside *::selection {
    background: #ff00cb !important;
}

.MarkALink__notification {
    position: fixed !important;
    z-index: 1000000000001 !important;

    top: 20px !important;
    right: 20px !important;
    padding: 10px !important;
    border-radius: 10px !important;

    box-sizing: border-box !important;
    overflow: hidden !important;

    color: #fff !important;
    font-family: Verdana !important;
    font-size: 17px !important;

    background-color: var(--bg-color) !important;
    border: 1px solid var(--logo-col) !important;
    box-shadow:
        0 0 5px var(--logo-shadow),
        0 0 10px var(--logo-shadow),
        0 0 20px var(--logo-shadow),
        0 0 20px var(--logo-shadow),
        0 0 4px var(--logo-col),
        inset 0 0 2px var(--logo-shadow),
        inset 0 0 5px var(--logo-shadow),
        inset 0 0 10px var(--logo-shadow),
        inset 0 0 10px var(--logo-shadow),
        inset 0 0 2px var(--logo-col);
}

.MarkALink__notification_text {
    display: inline-block !important;
    padding-bottom: 10px !important;
}
