@font-face {
    font-family: Godsownjunkyard;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Godsownjunkyard-Regular.otf');
}

:root {
    --font-size: 24px;
    --text-col: #fff;
    --bg-color: #131313;
    --blur-color: #00000080;

    /* --active-col: #00ffc6; */
    /* --active-col: #3afbd0; */
    --active-col: #44fb3a;
    /* --active-col: #fea628; */
    /* --active-col: #f99a54; */
}

.MarkALink_popup {
    position: fixed;
    z-index: 10000;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    justify-content: center;
    -ms-align-items: center;
    align-items: center;

    background-color: var(--blur-color);
    transition: all ease .4s;
    opacity: 1;

    font-size: var(--font-size);
    color: var(--text-col);
    font-weight: normal;
}

.MarkALink_popup-hidden {
    opacity: 0;
    z-index: -10000;
}

.MarkALink_popup__logo {
    position: relative;
    display: inline-block;

    height: 140px;
    width: 292px;
}

.MarkALink_popup__logo_wrap {
    text-align: center;
}

.MarkALink_popup__wrap {
    width: 460px;
    padding: 20px;

    border: 5px solid white;

    background-color: var(--bg-color);
}

.MarkALink_popup__label {
    display: inline-block;
    width: 90px;

    color: azure;
    --color1: azure;
    --color2: aqua;
    --color3: dodgerblue;
    --color4: blue;
}

.MarkALink_popup__glow {
    font-family: Godsownjunkyard;
    text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2), 0 0 40px var(--color3), 0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
}

.MarkALink_popup__inp {
    width: 360px;
    padding: 5px 0;

    border: none;
    border-bottom: 2px solid var(--active-col);
    text-shadow: 4px 2px 5px var(--active-col);
    outline-color: var(--active-col);
    color: var(--active-col);

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    font-size: var(--font-size);
    font-family: Godsownjunkyard;

    -webkit-appearance: none;
    background: #000;
}

.MarkALink_popup__btns {
    text-align: center;
}

.MarkALink_popup__menu {
    display: inline-block;
    position: relative;
}

.MarkALink_popup__submenu,
.MarkALink_popup__menu:hover .MarkALink_popup__submenu.MarkALink_popup__submenu-hide {
    position: absolute;
    z-index: 10000;

    left: 0;
    top: 20px;
    width: 0;
    height: 0;
    transform: translateY(-50%);

    opacity: 0;
    overflow: hidden;
    background-color: yellow;

    transition: all ease .4s;
}

.MarkALink_popup__menu:hover .MarkALink_popup__submenu {
    width: auto;
    height: auto;
    min-width: 100%;

    opacity: 1;
}

.MarkALink_popup__menu_item,
.MarkALink_popup__menu_item-add {
    display: block;

    padding: 2px 10px;

    white-space: nowrap;
}

.MarkALink_popup__types {
    display: inline-block;
}

.MarkALink_popup__types_item {
    margin-right: 5px;

    font-family: Godsownjunkyard;
    text-shadow: 0 0 10px #000, 0 0 5px #000, 0 0 15px #000, 0 0 20px #000, 4px 2px 5px azure;
    color: azure;
}

.MarkALink_popup__types_item-active {
    text-shadow: 0 0 10px #000, 0 0 5px #000, 0 0 15px #000, 0 0 20px #000, 4px 2px 5px var(--active-col);
    color: var(--active-col);
}

.MarkALink_popup__grp {
    margin: 10px 0;
}

.MarkALink_popup__textarea {
    display: block;

    margin-top: 20px;
    width: 100%;
    height: 100px;

    font-size: calc(var(--font-size) - 4px);
}

.MarkALink_popup__menu_default {
    text-shadow: 0 0 10px #000, 0 0 5px #000, 0 0 15px #000, 0 0 20px #000, 4px 2px 5px var(--active-col);
    color: var(--active-col);
}

.MarkALink_popup__menu_default-hide {
    display: none;
}

.MarkALink_popup__menu_default-input {
    width: 360px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    font-size: calc(var(--font-size) - 4px);
    color: white;

    background: transparent;
    border: none;
    border-bottom: 2px solid white;
}

.MarkALink_popup__calendar {
    max-height: 0;
    overflow: hidden;

    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.MarkALink_popup__calendar-show {
    max-height: 50px;
}
