html,
body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.59;
}

.title {
    margin: 0;

    font-size: 40px;
}

.link {
    display: block;

    padding: 10px 0;
}

.list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    padding: 0;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.list__item {
    width: 20%;
    margin: 0 20px 20px;
    padding: 10px;
    border-radius: 10px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 4px solid #000;

    list-style-type: none;
}

.list__link {
    display: block;

    width: 100%;

    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    margin: 0 20px;
}

.settings {
    /* height: 100vh; */
}

.settings__wrap {
    margin: 0 20px;
}

.MarkALink_popup__submenu,
.MarkALink_popup__menu:hover .MarkALink_popup__submenu.MarkALink_popup__submenu-hide {
    transform: none;
}
