@font-face {
    font-family: Godsownjunkyard;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Godsownjunkyard-Regular.otf');
}

html,
body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    font-size: 20px;
    line-height: 1.59;
    color: #fff;
    font-family: Verdana;

    --hover-col: gray;


    background-color: #131313;
}

.title {
    margin: 0;

    font-size: 70px;
    font-family: Godsownjunkyard;
    color: azure;
    --color1: azure;
    --color2: aqua;
    --color3: dodgerblue;
    --color4: blue;

    text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2), 0 0 40px var(--color3), 0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
}

.section:hover .title {
    color: lightyellow;
    --color1: yellow;
    --color2: gold;
    --color3: orange;
    --color4: darkred;
}

.link {
    display: block;

    padding: 10px 0;
}

.list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    padding: 0;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.list__item {
    width: 20%;
    margin: 0 20px 20px;
    padding: 10px;
    border-radius: 10px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 4px solid #000;

    list-style-type: none;

    transition: all ease .3s;
}

.list__item:hover {
    background-color: var(--hover-col);
    cursor: pointer;
}

.list__link {
    display: block;

    width: 100%;

    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all ease .3s;
}

.list__link:hover {
    background: #fff;
}

.title {
    margin: 0 20px;
}

.settings__wrap {
    margin: 0 20px;
}

.settings__wrap .MarkALink_popup__submenu,
.settings__wrap .MarkALink_popup__menu:hover .MarkALink_popup__submenu.MarkALink_popup__submenu-hide {
    transform: none;
}

.settings__wrap .MarkALink_popup__label {
    width: 200px;
}

.MarkALink_popup__logo .logo_wrap {
    position: absolute;
    transform-origin: left top;

    transform: scale(0.5);
    top: 0;
    left: 0;
}
